<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.css" rel="stylesheet">
    <title>Página inicial do funcionário</title>

    <style>
        .input-box {
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 5px;
            width: 35rem;
            text-align: center;     
            margin: auto;
        }
        .btn{
            margin-bottom: 10px;

        }
    </style>
</head>

    <body class="container mt-5 input-box " >
        <div class="mb-3">
            <h2>Escolha uma opção:</h2>
            <a class="btn btn-primary" href="/cadastrarAluno">CADASTRAR ALUNO</a>
            <a class="btn btn-primary" href="/cadastrarFuncionario">CADASTRAR FUNCIONÁRIO</a>
            <a class="btn btn-primary" href="/cadastrarDisciplina">CADASTRAR DISCIPLINA</a>
            <a class="btn btn-primary" href="/cadastrarNotas">CADASTRAR NOTA</a>
        </div>
    </body>


</html>
