<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.css" rel="stylesheet">
    <title>Sua Página de Login</title>

    <style>
        .input-box {
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 5px;
            width: 25rem;
            text-align: center;     
            margin: auto; 
        }
        
    </style>

</head>
    
<body class="container mt-5 input-box " >
    <div class="mb-3">
            <h2>Bem-vindo!</h2>
            <a class="btn btn-primary" href="/loginAluno">Eu sou Estudante</a>
            <a class="btn btn-primary" href="/loginAdm">Eu sou Funcionário</a>
    </div>
</body>

</html>
