<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.css" rel="stylesheet">
    <title>{{titulo}}</title>
    <style>
        .input-box {
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 5px;
            width: 25rem;
        }
        
    </style>
</head>
<body class="container mt-5 input-box">
    <form action="/homeAdm" method="POST" class="mt-3">
        <div class="mb-3 ">
            <label for="login" class="form-label">Login</label>
            <input type="text" class="form-control" id="login" name="login" required>
        </div>
        <div class="mb-3 ">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" required>
        </div>
        <button type="submit" class="btn btn-primary">Logar</button>
       
    </form>
</body>
</html>
